doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="/assets/bootstrap/3.0.2/css/bootstrap.min.css")
  body
    br
    div(style="width:70%;margin:auto")
      h2 Welcome
      h4 您的使用者編號是 #{id}
      br
      a(href="/api/admin") 進入後台
      form(action="/api/logout", method="POST")
        input.btn.btn-primary(type="submit",value="登出")

